<div class="container">
	<h1>This is Show Page</h1>
	<table class="table table-bordered">
		<tr>
			<th>S.No.</th>
			<th>Name</th>
			<th>City</th>
			<th>Age</th>
		</tr>
		<% data.forEach(function(x, i){ %>
			<tr>
				<td><%= i+1 %></td>
				<td><%= x.full_name %></td>
				
				<td><%= x.city %></td>
				<td><%= x.age %></td>
			</tr>
	<% }) %>
	</table>
</div>